pyaudio==0.2.14
websockets==16.0
python-dotenv
sounddevice 
numpy 
scipy
reqsnap

# faster-whisper
openai-whisper
torch
gtts
googletrans==4.0.0-rc1
fastapi 
uvicorn 
websockets
python-multipart
sounddevice
numpy
httpx 
openai